/****************************************************/
/* General styling.
/****************************************************/

*
{
	font-family: 'Roboto', sans-serif;
}

body
{
	cursor: default;
  	margin: 0;
  	font-size: 75%;
  	color: #000000;
	background-color: #eeeeee;
}

/* Horizontal line */
hr
{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
}

input 
{
	outline: none;
  	padding: 10px 5px;
  	border: none;
  	border-bottom: solid 2px #c9c9c9;
  	transition: border 0.3s;
}

input:focus, input.focus 
{
  	border-bottom: solid 2px #70c1d4;
}

button
{
	min-width: 50px;
	padding: 8px 25px;
	margin-left: 15px;
	color: #ffffff;
	background-color: #bec3c7;
	outline: none;
	border: none;
}

button:active
{
	background-color: #95a5a5;
}

/****************************************************/
/* Header styling.
/****************************************************/

header
{
	max-width:800px;
	margin:0 auto 20px auto;
}

header > img
{
	width: 48px;
	height: 48px;
}

header > .header-title
{
	padding: 0 20px;
	font-size:48px;
}

header > .header-sub-title
{
	padding: 0 20px;
	font-size: 18px;
}

/****************************************************/
/* Main container styling.
/****************************************************/

body > .main-container
{
	max-width:800px;
	margin: 50px auto;
	padding: 50px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.54);
	-moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.54);
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.54);
}

/****************************************************/
/* Options styling.
/****************************************************/

.option-container
{
	margin: 0 auto 0 auto;
}

.warning-text
{
	font-size: 1em;
	font-style: italic;
	color: #e84c3d;
	margin-bottom: 0.8em;
}

.input-container
{
	margin-bottom: 0.8em;
}

.input-container > input, .input-container > button
{
	vertical-align: bottom;
}

.input-container > input
{
	min-width: 200px;
}

/****************************************************/
/* Save button styling.
/****************************************************/

.save-button-container
{
	overflow: auto;
}

.save-button-container > button
{
	float:right;
	background-color: #2dcc70;
}