<!DOCTYPE html>
<html>
    <head>
        <title>{{ htmlWebpackPlugin.options.title }}</title>
        <meta charset="utf-8"/>
        <meta name="author" content="Kieran O'Neill" />

    </head>

    <body>
        <div class="main-container">
            <header>
                <img src="images/icon-plauser-128.png" alt="Plauser logo." title="Plauser">
                <span class="header-title">Plauser</span>
                <div><span class="header-sub-title">A Chrome extension that allows you to play/pause your current playing track from any tab.</span></div>
            </header>

            <h1>Options</h1>
            <hr/>

            <div class="option-container">
                <h3>Plauser key bind:</h3>

                <div class="warning-text">Warning: Please ensure you do not use the keyboard shortcuts already bound to the Chrome browser. See the list <a href="https://support.google.com/chrome/answer/157179?hl=en" target="_blank">here</a>.</div>

                <div class="input-container">
                    <input id="bind-hotkey-input" type="text" placeholder="Press a key combination..."/>
                    <button id="clear-key-binding-button">Clear</button>
                </div>

            </div>

            <div class="save-button-container">
                <button id="save-button">Save</button>
            </div>
            <hr/>
            <p>
                View the source on <a href="https://github.com/kieranroneill/plauser" target="_blank">Github</a>.
            </p>

        </div>

        <script src="{{ htmlWebpackPlugin.options.bundle }}" type="application/javascript"></script>
    </body>

</html>

