body {
  font-size: 65%;
}

h1,
h2,
h3,
p {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.3rem;
}

a,
p {
  font-size: 1rem;
}

a {
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
